.inputBuscador{
    height: 30px;
    border-radius: 10px;
}

.botonBuscador{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
    outline: none;
}

.botonBuscador:active{
    outline: none;
}

.botonBuscador:hover{
    opacity: 80%;
}

.searchContainer{
    display: flex;
    justify-content: center;
    outline: none;
}

.searchBox{
    position: relative;
    outline: none;
}